packaging_format = 2

id = "send"
name = "Send"
description.en = "File sharing which allows to send encrypted files"
description.fr = "Partage de fichiers qui permet d'envoyer des fichiers chiffrés"

version = "3.4.21~ynh1"

maintainers = ["eric_G"]

[upstream]
license = "MPL-2.0"
website = "https://send.vis.ee/"
demo = "https://send.vis.ee/"
code = "https://github.com/timvisee/send"

[integration]
yunohost = ">= 11.1.15"
architectures = "all" # FIXME: can be replaced by a list of supported archs using the dpkg --print-architecture nomenclature (amd64/i386/armhf/arm64), for example: ["amd64", "i386"]
multi_instance = true
ldap = "?" # FIXME: replace with true, false, or "not_relevant". Not to confuse with the "sso" key : the "ldap" key corresponds to wether or not a user *can* login on the app using its YunoHost credentials.
sso = "?" # FIXME: replace with true, false, or "not_relevant". Not to confuse with the "ldap" key : the "sso" key corresponds to wether or not a user is *automatically logged-in* on the app when logged-in on the YunoHost portal.
disk = "50M" # FIXME: replace with an **estimate** minimum disk requirement. e.g. 20M, 400M, 1G, ...
ram.build = "50M" # FIXME: replace with an **estimate** minimum ram requirement. e.g. 50M, 400M, 1G, ...
ram.runtime = "50M"

[install]
    [install.domain]
    # this is a generic question - ask strings are automatically handled by Yunohost's core
    type = "domain"
    full_domain = true

    [install.init_main_permission]
    help.en = "If enabled, Send will be accessible by people who do not have an account. This can be changed later via the webadmin."
    help.fr = "Si cette case est cochée, Send sera accessible aux personnes n’ayant pas de compte. Vous pourrez changer ceci plus tard via la webadmin."
    type = "group"
    default = "visitors"

[resources]
        [resources.sources.main]
        url = "https://github.com/timvisee/send/archive/refs/tags/v3.4.21.tar.gz"
        sha256 = "60b42b4c99b439b4d2aabea0efdab930c80730de4c8f46e41c68d05c1052ff1c"

    [resources.ports]

    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"
    api.url = "/api"
    api.allowed = "visitors"
    api.auth_header =false
    api.show_tile = false
    api.protected = true
